.Modal{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
}
.modal-body{
    display: flex;
    justify-content: center;
}
.modal-header{
    display: flex;
    justify-content: center;
}