.modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.App{
  background-color: rgba(249, 251, 255, 0);
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.main{
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-header {
  background-color: #282c34;
  min-height: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
#contents{
  width: 100%;
}
#contents > img{
  width: 40%;
  vertical-align:initial;
  vertical-align: top;
  box-shadow: inset 0px 0px 15px white;
  margin-left:10px ;
  padding: 15px;
  border-radius: 20px;
}
#contents-body{
  display: inline-block;
  width: 56%;
}
#logo {
  display: flex;
  justify-content: center;
  max-height:560px;
}
.buttons{
  margin-top: -20px;
  background-color: rgba(24, 27, 29, 0.95);
  color: #56cfff;
  box-shadow: inset 0px 0px 15px white;
  margin-left:10px ;
  padding: 15px;
  border-radius: 20px;
}
.buttons > div{
  display: inline-block;
  margin: 10px;
}
#preLogin > Button{
  display: inline-block;
  margin-right: 10px;
}
#preLogin > #btn{
  display: inline-block;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
